body {
    font-family: 'Arial', sans-serif; /* Define a fonte padrão para o corpo do documento */
    margin: 0; /* Remove margens */
    padding: 0; /* Remove preenchimento */
    background-color: lightgray; /* Define a cor de fundo */
    color: #333; /* Define a cor do texto */
}

.editor-container {
    display: flex; /* Utiliza Flexbox para alinhar os editores */
    flex-wrap: wrap; /* Permite que os editores quebrem a linha em telas menores */
    margin: 20px;
}

.editor {
    flex: 1 0 300px; /* Define o tamanho mínimo e crescimento dos editores */
    margin: 10px;
    background-color: lightgray; /* Cor de fundo dos editores */
    border-radius: 5px; /* Cantos arredondados para os editores */
    overflow: hidden; /* Garante que o conteúdo não vaze para fora dos cantos arredondados */
}

button {
    display: block; /* Botão centralizado */
    width: 200px; /* Largura do botão */
    margin: 20px auto; /* Margem para centralizar o botão */
    cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
    background-color: #27ae60; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove borda */
    border-radius: 3px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave ao passar o mouse */
}
